@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  font-family: "Manrope", sans-serif;
}
:root {
  --swiper-navigation-size: 25px;
  /* --swiper-theme-color: white; */
}

body {
  background: #114147;
}
.spot {
  background: linear-gradient(-45deg, rgb(3, 40, 36), rgb(20 184 166));
}
.api {
  background: linear-gradient(125deg, rgb(3, 40, 36), rgb(20 184 166));
}
.exchange {
  background: linear-gradient(-45deg, #f4927e, #f4927e);
}
.faderight {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.fadeleft {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

#menu.show {
  right: 0;
}
@media screen and (max-width: 1023px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 390px) {
  html {
    font-size: 70%;
  }
}
